<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxsy.modules.selectcategory.mapper.SelectCategoryCorrelationMapper">

    <resultMap id="BaseResultMap" type="com.lxsy.modules.selectcategory.entity.SelectCategoryCorrelation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="correlationId" column="correlation_id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
    </resultMap>

</mapper>
